@model List<Category>

<h1 xmlns="http://www.w3.org/1999/html">Category List</h1>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>
            Category Name
        </th>
        <th>
            Display Order
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var obj in Model.OrderBy(d => d.DisplayOrder))
    {
        <tr>
            <td>@obj.Name</td>
            <td>@obj.DisplayOrder</td>
        </tr>
    }
    </tbody>
</table>